@import 'scss/variable';

.column {
    min-width: 272px;
    max-width: 272px;
    margin: 0 4px;
    padding: 8px 0;

    white-space: nowrap;
    vertical-align: top;

    &__content {
        background-color: $bg-column;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        max-height: calc(100vh - 120px);
        position: relative;
        white-space: normal;
        width: 100%;
    }

    &__header {
        padding: 10px 8px;
        min-height: 20px;
        cursor: grab;
        display: flex;
        align-items: center;

        &-title {
            flex: 1;
            margin-right: 8px;

            .input-editable {
                border: none;
                background-color: inherit;
                font-size: inherit;
                font-weight: inherit;
            }
        }

        &-dropdown {
            .dropdown-toggle {
                font-size: 16px;
                padding: 0 8px;
                background-color: $bg-column;
                color: $text-color;
                border-color: transparent;
                &::after {
                    content: '...';
                    border: none;
                    font-weight: bold;
                    letter-spacing: 1px;
                }

                &:hover {
                    color: $text-color;
                    background-color: darken($bg-column, 10);
                    border-color: darken($bg-column, 10);
                }
            }

            .dropdown-menu {
                font-size: 14px;
            }

            &.show .btn-primary.dropdown-toggle {
                color: $text-color;
                background-color: darken($bg-column, 20);
                border-color: darken($bg-column, 20);
            }

            .dropdown-item:active {
                color: $text-color;
                background-color: darken($bg-column, 10);
            }

            .btn-primary:focus {
                color: $text-color;
                background-color: transparent;
                border-color: transparent;
            }
        }
    }

    &__list {
        padding: 0 4px;
        margin: 0 4px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__footer {
        max-height: 38px;
        min-height: 38px;

        &-add {
            border-radius: $border-radius;
            color: #5e6c84;
            display: block;
            padding: 4px 8px;
            margin: 0 8px;
            text-decoration: none;
            -webkit-user-select: none;
            user-select: none;
            transition: all 0.2s linear;

            &:hover {
                background-color: #d9dce2;
                cursor: pointer;
            }
        }
    }
}

.card-ghost {
    transition: transform 0.18s ease;
    transform: rotateZ(5deg);
    font-weight: bold;
}

.card-ghost-drop {
    transition: transform 0.18s ease-in-out;
    transform: rotateZ(0deg);
    font-weight: bold;
}

.card-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px;
}
