@import 'scss/variable';

.column {
    display: inline-block;
    min-width: 272px;
    max-width: 272px;
    height: 100%;
    margin: 0 4px;
    padding: 8px 0;

    white-space: nowrap;
    vertical-align: top;

    &__content {
        background-color: #ebecf0;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        position: relative;
        white-space: normal;
        width: 100%;
    }

    &__header {
        padding: 10px 8px;
        min-height: 20px;
        cursor: grab;
    }

    &__list {
        padding: 0 4px;
        margin: 0 4px;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 1;
    }

    &__footer {
        max-height: 38px;
        min-height: 38px;

        &-add {
            border-radius: $border-radius;
            color: #5e6c84;
            display: block;
            flex: 1 0 auto;
            margin: 2px 0 8px 8px;
            padding: 4px 8px;
            text-decoration: none;
            -webkit-user-select: none;
            user-select: none;
        }
    }
}

.card-ghost {
    transition: transform 0.18s ease;
    transform: rotateZ(5deg);
}

.card-ghost-drop {
    transition: transform 0.18s ease-in-out;
    transform: rotateZ(0deg);
}

.card-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px;
}
