$header-height: 44px;
$gap: 8px;
$border-radius: 3px;
$theme-blue: #0079bf;
$theme-green: #519839;
$theme-red: #b04632;
$theme-purple: #89609e;
$theme-orange: #d29034;
$theme-pink: #cd5a91;
$theme-sky: #00aecc;
$theme-gray: #838c91;
