@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import './variable';
@import './reset';

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
}

#root {
    height: 100%;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app.theme {
    &-blue {
        background-color: $theme-blue;
    }
    &-green {
        background-color: $theme-green;
    }
    &-red {
        background-color: $theme-red;
    }
    &-purple {
        background-color: $theme-purple;
    }
    &-orange {
        background-color: $theme-orange;
    }
    &-pink {
        background-color: $theme-pink;
    }
    &-sky {
        background-color: $theme-sky;
    }
    &-gray {
        background-color: $theme-gray;
    }
}

.scroll-custom {
    &::-webkit-scrollbar {
        height: 12px;
        width: 12px;
    }

    /* Track */
    &::-webkit-scrollbar-track-piece {
        background: #00000026;
    }

    &::-webkit-scrollbar-button {
        width: 24px;
        display: block;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #bfc2cd;
        border-radius: 10px;
    }
}
.scroll-custom-fancy {
    &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track-piece {
        background: #091e4214;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #bfc2cd;
        border-radius: 10px;
    }
}

.icon {
    font-size: 14px;
    margin-right: 8px;
}
